:root{
  --pink:#e91e63;
  --dark:#111;
  --light:#f7f7f7;
}

.section-2{
  padding-inline: 15px;
  padding-top: 10px;
  background: var(--light);
}

.features-grid{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 30px;
  padding: 15px;
}

.features-grid-preview{
  border: 2px solid rgb(231, 231, 231);
}

.image-container{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-style: double;
}

.features-img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.featured{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-block: 20px;
}

.about-us{
  padding:40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-title{
  position: relative;
  padding-left: 20px;
  font-size: 1.5rem;
  padding-block: 10px;
  margin-bottom: 20px;
  
}

.section-title::before{
  content: "";
  position: absolute;
  left:0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: var(--pink);
}