:root{
  --pink:#e91e63;
  --dark:#111;
  --light:#f7f7f7;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'assistant';
  font-optical-sizing: auto;
}

/* PAGE LOAD INTRO */
main{
  color:#222;
  opacity:0;
  transform:translateY(60px);
  transition:opacity 1s ease, transform 1.2s ease;
  letter-spacing: 0.06rem;
}

main.loaded{
  opacity:1;
  transform:translateY(0);
}

.header{
  background:linear-gradient(to right,#000,#222);
  background-color: black;
  padding:15px 60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  z-index:1000;
}

.logo{color:white;font-weight:700}
.logo span{color:var(--pink)}



nav a:hover,.active{color:var(--pink)}

/* .menu-btn{
  display:none;
  color:white;
  font-size:26px;
  cursor:pointer;
} */

.hero{
  background:url("assets/images/20251223_231950.jpg") center/cover no-repeat;
  height:70vh;
  position:relative;
  display:flex;
  align-items:center;
  padding:0 60px;
}

.hero::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.6);
}

.hero-content{
  position:relative;
  color:white;
  max-width:600px;
}

.hero h1{
  font-size:45px;
  margin-bottom:15px;
}

.hero-btn{
  margin-top: 26px;
}

.btn{
  background:var(--pink);
  color:white;
  padding:12px 30px;
  border-radius:30px;
  border:none;
  cursor:pointer;
  font-weight: 600;
  letter-spacing: 0.09rem;

}

.btn:hover{
  opacity: .85;
}

.btn:active{
  opacity: .7;
}

.services{
  padding:45px 30px;
  background:var(--light);
}

.services h2{
  text-align:center;
  margin-bottom:40px;
}

.service-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.service-card{
  display: flex;
  background:#111;
  padding:20px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
  gap: 12px;
}

.service-card.active{
  outline:4px solid var(--pink);
}

.image-and-name{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service-img-container{
  background:var(--pink);
  height: 80px;
  width: 80px;
  border-radius: 12px;
}

.service-img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:15px;
}

.service-name{
  color: white;
  font-size: 1rem;
}

.service-details-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.price{color:var(--pink);font-weight:600}
.duration{font-size:18px;color:#f3f3f3}
.select-btn{
  margin-top: 10px;
  font-size: 14px;
}
.appointment{
  padding:80px 60px;
  text-align:center;
}

.appointment form{
  max-width:500px;
  margin:40px auto 0;
  display:grid;
  gap:15px;
}

.appointment input,
.appointment select{
  padding:14px;
  border:1px solid #ccc;
  border-radius:8px;
}

.whatsapp-float{
  position:fixed;
  bottom:25px;
  right:25px;
  width:55px;
  height:55px;
  background:#25D366;
  color:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  text-decoration:none;
}

footer{
  background:#000;
  color:white;
  text-align:center;
  padding:25px;
  font-size:13px;
}

/* SCROLL ANIMATIONS */
.fade-in{
  opacity:0;
  transform:translateY(30px);
  transition:.8s ease;
}

.fade-in.show{
  opacity:1;
  transform:translateY(0);
}

@media(max-width:768px){
  .header{padding:15px 20px}
  /* nav{display:none} */
  /* .menu-btn{display:block} */
  .hero{padding:0 20px}
}